body {
    background-image: url("../res/bady-abbas-MDgRcuGYu58-unsplash.jpg");
    background-color: #3B5998;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0 0 20px 0;
    font-family: Roboto, sans-serif;
    color: #343333;
}

.container {
    display: flex;
    flex-direction: column;
    border: none;
    width: 50%;
    margin: auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

form {
    background-image: url("../res/gilbert-beltran-e7vb0cy9Zkabfhba.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 10px 0 black;
    padding: 100px;
    border-radius: 30px;
    width: 600px;
    align-items: center;
}


input {
    width: 240px;
    padding: 20px;
    outline: none;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    transition: .5s;
}

input:focus, button[type=submit]:hover {
    box-shadow: 0 0 0 3px #0173a7
}

button[type=submit] {
    width: 240px;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: #343333;
    background-color: #0173a7;
    border: 2px solid #0173a7;
    outline: none;
    border-radius: 24px;
    cursor: pointer;
    transition: .5s;
}

button[type=submit]:hover {
    box-shadow: 0 0 0 3px #2b4c5b

}

button[type=submit]:hover {
    background: #0173a7
}

li {
    list-style-type: none;
}

li {
    margin-right: 10px;
}

.single-row {
    display: flex;
    flex-direction: row;
}

.single-col {
    margin-right: 10px;
}